<h1>Listing activity_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @activity_types.each do |activity_type| %>
  <tr>
    <td><%=h activity_type.name %></td>
    <td><%=h activity_type.description %></td>
    <td><%= link_to 'Show', activity_type %></td>
    <td><%= link_to 'Edit', edit_activity_type_path(activity_type) %></td>
    <td><%= link_to 'Destroy', activity_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New activity_type', new_activity_type_path %>