<%= error_messages_for :project %>

<% form_for(@project) do |project_form| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
  
  <div id="activity_types">
    <% project_form.fields_for :activity_types do |activity_types_form| %>
      <%= render :partial => "activity_type", :locals => { :f => activity_types_form } %>
    <% end %>
  </div>
  <%= link_to 'Add an activity type', '#activity_type', :class => "add_nested_item", :rel => "activity_types" %>
<% end %>