<% title "Timesheets: Project - #{@project.name}"%>

<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<h2>Activity Types</h2>

<% for activity_type in @project.activity_types do %>
  <p>Name: <%= h(activity_type.name) %><br/>
     Description: <%= h(activity_type.description) %></p>
<% end %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>