<% title "Timesheets: Edit Timesheet" %>

<h2>Week Starting <%= this_week.to_s(:long) %></h2>

<%= render :partial => "form" %>

<p>
  <%= link_to "Previous Week", "/timesheets/#{date_path(@date - 7.days)}" %> | 
  <%= link_to "Next Week", "/timesheets/#{date_path(@date + 7.days)}" %>
</p>
<p>
  <%= link_to '&laquo; Back to "My Timesheets"', timesheets_path %>
</p>