<% title "Timesheets: My Timesheets" %>

<table style="width: 45%">
  <tr>
    <th style="text-align: left">Week</th>
    <th style="text-align: left">Hours</th>
  </tr>
  
<% for timesheet in @user.timesheets do %>
  <tr>
    <td><%=h timesheet.start_date.to_date.to_s(:long) %></td>
    <td><%=h timesheet.time_entries.inject(0) { |sum, t| sum + t.hours } %></td>
    <td><%= link_to "Edit", "/timesheets/#{date_path(timesheet.start_date.beginning_of_week)}" %></td>
  </tr>
<% end %>
</table>

<hr/>

<p>
  <%= link_to "Manage Projects", projects_path %> | 
  <%= link_to "Current Week", "/timesheets/#{date_path(this_week)}" %>
</p>